<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanofi - Acompanhamento de Treinamento</title>
    <link rel="stylesheet" href="../assets/css/user.css">
    <link rel="icon" href="../images/sanofi-logo.jpg">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <div class="menu-icon" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/7d/Logo_Sanofi_%282022%29.png" alt="Logo da Empresa">
        <h1>Acompanhamento de Treinamento</h1>
    </header>

    <div id="side-menu">
        <button class="closebtn" onclick="closeMenu()">&times;</button>
        <div class="user-info">
            <p><strong><span id="user-nome">Nome do Usuário</span></strong> </p>
            <p><strong><span id="user-email">user@sanofi.com.br</span></strong></p>
        </div>
        <a href="/templates/configuracao.html">Configurações da Conta</a>
        <a href="/index.html" onclick="logout()">Sair</a>
    </div>

    <main>
        <div id="tickets-container">
            <!-- Tickets serão inseridos aqui pelo JavaScript -->
        </div>

        <div id="pagination-controls">
            <button id="prev-tickets">Anterior</button>
            <button id="next-tickets">Próximo</button>
        </div>

        <div id="grafico-container">
            <canvas id="grafico-desempenho"></canvas>
        </div>
    </main>

    <script src=""></script>
    <script>
        function toggleMenu() {
            document.getElementById('side-menu').style.width = '250px';
        }

        function closeMenu() {
            document.getElementById('side-menu').style.width = '0';
        }

        // Função para capturar parâmetros da URL
        function getQueryParam(param) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(param);
        }

        // Captura o e-mail e o nome da URL e exibe no menu
        const userEmail = getQueryParam('email');
        const userNome = getQueryParam('nome'); // Supondo que o nome também foi passado na URL

        if (userEmail) {
            document.getElementById('user-email').textContent = userEmail;
        }
        if (userNome) {
            document.getElementById('user-nome').textContent = userNome;
        }

        // Função para sair e limpar os dados do usuário
        function logout() {
            // Remove os parâmetros da URL e qualquer dado salvo
            window.location.href = '/index.html';
        }
    </script>
</body>
</html>
