<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
    <link rel="stylesheet" href="../static/css/forgot_password.css">
</head>
<body>
    <div class="container">
        <div class="reset-password-form">
            <h2>Redefinir Senha</h2>
            <form id="reset-password-form">
                <label for="password">Nova Senha:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Redefinir Senha</button>
            </form>
            <div id="response-message"></div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('reset-password-form');
            const messageDiv = document.getElementById('response-message');

            form.addEventListener('submit', function (event) {
                event.preventDefault(); // Impede o envio padrão do formulário

                const password = document.getElementById('password').value;

                if (password.length < 6) {
                    messageDiv.textContent = 'A senha deve ter pelo menos 6 caracteres.';
                    messageDiv.style.color = 'red';
                    return;
                }

                const token = new URLSearchParams(window.location.search).get('token');
                const formData = new FormData();
                formData.append('password', password);

                fetch(`/reset_password/${token}`, {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.text())
                .then(data => {
                    messageDiv.textContent = data;
                    messageDiv.style.color = data.includes('atualizada com sucesso') ? 'green' : 'red';
                })
                .catch(error => {
                    messageDiv.textContent = 'Ocorreu um erro ao redefinir a senha.';
                    messageDiv.style.color = 'red';
                    console.error('Erro:', error);
                });
            });
        });
    </script>
</body>
</html>
